/* Reg.css */
.registration-container {
  background-image: url('https://cdn.wallpapersafari.com/5/20/7NVLhA.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px; /* Adjust padding as needed */
}

.registration-header {
  text-align: center;
  margin-bottom: 20px;
}

.registration-header h1 {
  color: rgb(37, 46, 49);
  margin-top: 20px; /* Set the color of your header text */
}

.registration-form-container {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8); /* Set opacity to 0.8 */
  margin-top: 50px;
  margin-bottom: 70px;
}


label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

button:hover {
  background-color: #45a049;
}

.verify-otp-button {
  background-color: #2196f3;
}

.verify-otp-button:hover {
  background-color: #0b7dda;
}

/* Add more styles as needed */
